# Director-Portfolio-Years
how did the yearly director portfolio composition change?

In [1]:
import pandas as pd
import numpy as np
pd.options.mode.chained_assignment = None  # default='warn'

df = pd.read_excel(r"C:\Users\g21728\Desktop\Directors\Data\Director-year-ISIN_Panel.xlsx")
df

,Director ID,Year,ISIN 1,ISIN 2,ISIN 3,ISIN 4,ISIN 5,ISIN 6,ISIN 7,ISIN 8,...,ISIN 41,ISIN 42,ISIN 43,ISIN 44,ISIN 45,ISIN 46,ISIN 47,ISIN 48,ISIN 49,ISIN 50
0,216931,1999,US45168D1046,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,216931,2000,US45168D1046,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,216931,2001,US45168D1046,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,216931,2002,US45168D1046,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,611920,2008,US4945801037,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
126144,204777512774,2015,CA03765K1049,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
126145,204777512774,2016,CA03765K1049,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
126146,204777512774,2017,CA03765K1049,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
126147,204777512774,2018,CA03765K1049,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
126148,204777512774,2019,CA03765K1049,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [2]:
directorships = df.iloc[:, [i for i in range(2,len(df.columns))]].values.tolist() # convert rows to lists. start at third column

directorships_cleaned = list() # remove nan and sort alphabetically
for i in directorships:
    new_i = list()
    new_i = [str(x) for x in i if type(x) is not float] # remove nan (stored as floats)
    directorships_cleaned.append(sorted(new_i))

# store NaNs at the end of the list
df2 = df.iloc[:, [0,1]] # empty dataframe with just headers

helper_cols = ["PF_changed", "previous", "new", "change"]
for i in helper_cols:
    df2[i] = np.nan 
    df2[i] = df2[i].astype('object') # column has to be object type, otherwise lists cannot be stored later on in their cells

# add X empty columns to dataframe
max_simultaneous_directorships = df.count(axis=1).max() - 2 # get highest value of non nan row values (minus 2 to ignore first two columns)
# print(max_simultaneous_directorships)
for i in range(1,max_simultaneous_directorships+1): 
    df2[i] = np.nan

for row, i in enumerate(directorships_cleaned): # place directorship lists in empty columns
    df2.loc[row, [j for j in range(1, len(i)+1)]] = i # start at first empty column
    
#probably faster with apply:
# split list items of previous column in X new columns (better approach)
# df_previous = df3.previous.apply(pd.Series).add_prefix('previous_')

df2

,Director ID,Year,PF_changed,previous,new,change,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,216931,1999,NaN,NaN,NaN,NaN,US45168D1046,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,216931,2000,NaN,NaN,NaN,NaN,US45168D1046,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,216931,2001,NaN,NaN,NaN,NaN,US45168D1046,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,216931,2002,NaN,NaN,NaN,NaN,US45168D1046,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,611920,2008,NaN,NaN,NaN,NaN,US4945801037,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
126144,204777512774,2015,NaN,NaN,NaN,NaN,CA03765K1049,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
126145,204777512774,2016,NaN,NaN,NaN,NaN,CA03765K1049,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
126146,204777512774,2017,NaN,NaN,NaN,NaN,CA03765K1049,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
126147,204777512774,2018,NaN,NaN,NaN,NaN,CA03765K1049,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
126148,204777512774,2019,NaN,NaN,NaN,NaN,CA03765K1049,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
dirs_cleaned = list() # empty list to store directorships per director-year, without NaNs
dirs = df2.iloc[:, [i for i in range(0,len(df2.columns))]].values.tolist() # convert rows to lists. start at third column
for i in dirs:
    # print([x for x in i if type(x) is not float])
    new_i = list()
    new_i = [str(x) for x in i if type(x) is not float]
    dirs_cleaned.append(new_i)

# print(dirs_cleaned)

for i, v in enumerate(dirs_cleaned, start=0): #skip first row since value is compared with previous value

    previous_portfolio = dirs_cleaned[i-1][2:]
    new_portfolio = dirs_cleaned[i][2:]
    
    if new_portfolio == previous_portfolio: # if portfolio didnt change
        df2.at[i, "PF_changed"] = 0

    elif (dirs_cleaned[i][0] == dirs_cleaned[i-1][0]) and new_portfolio != previous_portfolio: # same director and change in portfolio
        uniques = list(set(new_portfolio) ^ set(previous_portfolio)) # XOR operator to get difference between two sets. transform set to list
        if len(new_portfolio) > len(previous_portfolio):
            if len(new_portfolio) - len(previous_portfolio) != len(uniques):
                df2.iloc[i, 2] = "gain doublecheck" # set binary to 1 that pf increased
            else:
                df2.iloc[i, 2] = "gain" # set binary to 1 that pf increased
        elif len(new_portfolio) < len(previous_portfolio):
            if len(new_portfolio) < len(previous_portfolio):
                if len(previous_portfolio) - len(new_portfolio) != len(uniques):
                    df2.iloc[i, 2] = "loss doublecheck" # set binary to 1 that pf increased
                else:
                    df2.iloc[i, 2] = "loss" # set binary to 2 that pf decreased
        else:
            df2.iloc[i, 2] = "replace" # change occurred, without changing length of the two portfolios (e.g., one dir got replaced by another)

        # get change values for change column
        # print("uniques", uniques, "\n")
        if len(uniques) > 0: # if uniques not empty
            for ind,val in enumerate(uniques): # i,v already used
                if val in previous_portfolio:
                    uniques[ind] = val + "-" # if unique value was in previous PF, then dir was lost -> add a minus
                else:
                    uniques[ind] = val + "+" # if unique value is in new PF, then dir was gained -> add a plus
        df2.at[i, "change"] = uniques

    # get previous portfolio values for previous column
    if (dirs_cleaned[i][0] == dirs_cleaned[i-1][0]):
        df2.at[i, "previous"] = previous_portfolio

    # get next portfolio values for next column
    df2.at[i, "new"] = new_portfolio

#check weird cases
# df2[df2["PF_changed"] == "gain doublecheck" | df2["PF_changed"] == "loss doublecheck"]

df2

,Director ID,Year,PF_changed,previous,new,change,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,216931,1999,NaN,NaN,[US45168D1046],NaN,US45168D1046,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,216931,2000,0,[US45168D1046],[US45168D1046],NaN,US45168D1046,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,216931,2001,0,[US45168D1046],[US45168D1046],NaN,US45168D1046,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,216931,2002,0,[US45168D1046],[US45168D1046],NaN,US45168D1046,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,611920,2008,NaN,NaN,[US4945801037],NaN,US4945801037,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
126144,204777512774,2015,NaN,NaN,[CA03765K1049],NaN,CA03765K1049,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
126145,204777512774,2016,0,[CA03765K1049],[CA03765K1049],NaN,CA03765K1049,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
126146,204777512774,2017,0,[CA03765K1049],[CA03765K1049],NaN,CA03765K1049,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
126147,204777512774,2018,0,[CA03765K1049],[CA03765K1049],NaN,CA03765K1049,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
126148,204777512774,2019,0,[CA03765K1049],[CA03765K1049],NaN,CA03765K1049,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
# split previous & change PF ISINs in list to new columns

df3 = df2.iloc[:, range(0,6)] # remove ISIN columns

# df3["previous"].map(lambda x: print(x), na_action=None) # display items of previous columns

# split list items of previous column in X new columns (better approach)
df_previous = df3.new.apply(pd.Series).add_prefix('new_')
df_change = df3.change.apply(pd.Series).add_prefix('change_')
df_previous_change = df_previous.merge(df_change, how="outer", left_index=True, right_index=True) # merge previous and change df

df4 = df3.merge(df_previous_change, how="outer", left_index=True, right_index=True) # merge with prior df

df4

,Director ID,Year,PF_changed,previous,new,change,new_0,new_1,new_2,new_3,...,change_0,change_1,change_2,change_3,change_4,change_5,change_6,change_7,change_8,change_9
0,216931,1999,NaN,NaN,[US45168D1046],NaN,US45168D1046,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,216931,2000,0,[US45168D1046],[US45168D1046],NaN,US45168D1046,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,216931,2001,0,[US45168D1046],[US45168D1046],NaN,US45168D1046,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,216931,2002,0,[US45168D1046],[US45168D1046],NaN,US45168D1046,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,611920,2008,NaN,NaN,[US4945801037],NaN,US4945801037,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
126144,204777512774,2015,NaN,NaN,[CA03765K1049],NaN,CA03765K1049,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
126145,204777512774,2016,0,[CA03765K1049],[CA03765K1049],NaN,CA03765K1049,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
126146,204777512774,2017,0,[CA03765K1049],[CA03765K1049],NaN,CA03765K1049,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
126147,204777512774,2018,0,[CA03765K1049],[CA03765K1049],NaN,CA03765K1049,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
126148,204777512774,2019,0,[CA03765K1049],[CA03765K1049],NaN,CA03765K1049,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
df4.to_csv(r"C:\Users\g21728\Desktop\test5.csv", sep=";", index=False)

In [6]:
df4[(df4["PF_changed"] == "gain doublecheck") | (df4["PF_changed"] == "loss doublecheck")]

,Director ID,Year,PF_changed,previous,new,change,previous_0,previous_1,previous_2,previous_3,...,change_0,change_1,change_2,change_3,change_4,change_5,change_6,change_7,change_8,change_9
315,103861312135,2019,loss doublecheck,"[US14575E1055, US81761R1095, US9043112062]","[US14575E1055, US9043111072]","[US9043112062-, US9043111072+, US81761R1095-]",US14575E1055,US81761R1095,US9043112062,NaN,...,US9043112062-,US9043111072+,US81761R1095-,NaN,NaN,NaN,NaN,NaN,NaN,NaN
634,94060812462,2016,gain doublecheck,"[SE0000108201, US8962152091]","[CA9609083097, US7843754042, US8962152091]","[US7843754042+, SE0000108201-, CA9609083097+]",SE0000108201,US8962152091,NaN,NaN,...,US7843754042+,SE0000108201-,CA9609083097+,NaN,NaN,NaN,NaN,NaN,NaN,NaN
808,93761112245,2018,loss doublecheck,"[US9582541044, US9586691035]",[US6780261052],"[US9586691035-, US6780261052+, US9582541044-]",US9582541044,US9586691035,NaN,NaN,...,US9586691035-,US6780261052+,US9582541044-,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2060,80842010239,2009,gain doublecheck,[US4660902069],"[KYG234201054, US23962Q3083]","[US23962Q3083+, US4660902069-, KYG234201054+]",US4660902069,NaN,NaN,NaN,...,US23962Q3083+,US4660902069-,KYG234201054+,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2184,63838012907,2012,loss doublecheck,"[CA00190T1066, CA0566201079, CA68759M1014]","[CA68759M1014, CA85209D4084]","[CA0566201079-, CA85209D4084+, CA00190T1066-]",CA00190T1066,CA0566201079,CA68759M1014,NaN,...,CA0566201079-,CA85209D4084+,CA00190T1066-,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
124748,154672333,2010,loss doublecheck,"[US1912161007, US3704428321]",[US37045V1008],"[US3704428321-, US1912161007-, US37045V1008+]",US1912161007,US3704428321,NaN,NaN,...,US3704428321-,US1912161007-,US37045V1008+,NaN,NaN,NaN,NaN,NaN,NaN,NaN
125068,112863366,2007,gain doublecheck,"[GB0004544929, US92769L1017]","[GB00B0NBKL01, GB00B1HHK885, US92769L1017]","[GB00B0NBKL01+, GB00B1HHK885+, GB0004544929-]",GB0004544929,US92769L1017,NaN,NaN,...,GB00B0NBKL01+,GB00B1HHK885+,GB0004544929-,NaN,NaN,NaN,NaN,NaN,NaN,NaN
125069,112863366,2008,gain doublecheck,"[GB00B0NBKL01, GB00B1HHK885, US92769L1017]","[GB00B0NBKL01, GB00B12WC938, GB00B1HHK885, SE0...","[US92769L1017-, SE0000412363+, GB00B12WC938+]",GB00B0NBKL01,GB00B1HHK885,US92769L1017,NaN,...,US92769L1017-,SE0000412363+,GB00B12WC938+,NaN,NaN,NaN,NaN,NaN,NaN,NaN
125246,88966409,2006,loss doublecheck,"[GB00B61TVQ02, GB00B979H674, US7757812067]","[GB0005405286, US7757812067]","[GB0005405286+, GB00B61TVQ02-, GB00B979H674-]",GB00B61TVQ02,GB00B979H674,US7757812067,NaN,...,GB0005405286+,GB00B61TVQ02-,GB00B979H674-,NaN,NaN,NaN,NaN,NaN,NaN,NaN
125586,48287780,2007,loss doublecheck,"[CA0467894006, FR0000120271, NL0000388619, US5...","[CA0467894006, FR0000120271, US2635341090, US5...","[NL0000388619-, US2635341090+, US9047677045-]",CA0467894006,FR0000120271,NL0000388619,US5058614018,...,NL0000388619-,US2635341090+,US9047677045-,NaN,NaN,NaN,NaN,NaN,NaN,NaN