# merge with director-portfolio-years

In [1]:
import pandas as pd
import numpy as np
pd.options.mode.chained_assignment = None  # default='warn'

df1 = pd.read_csv(r"C:\Users\g21728\Desktop\Directors\Data\Hannes\director-year_marketcap_capiq_datastream_merge_120k.csv", decimal=",", sep=";")
df2 = pd.read_excel(r"C:\Users\g21728\Desktop\Directors\Data\NA - SMDEs Profile - Education & Achievements_cleaned.xlsx", sheet_name="Education")
df3 = pd.read_excel(r"C:\Users\g21728\Desktop\Directors\Data\NA - SMDEs Profile - Education & Achievements_cleaned.xlsx", sheet_name="Achievements")

In [2]:
df1

,DirectorID,Year,Beta Average,Historic Vola Average,Beta Total,Vola Total,Tobins Q Average,ROA Average,EPS Average,Board Size Average,...,gain_dummy,loss_dummy,replacement_dummy,change_dummy,event_gain_dummy,event_loss_dummy,event_replace_dummy,event_change_dummy,avg_current_valued_in_prioryear,delta_old
0,94496312760,2013,NaN,NaN,0.0000,0.0000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,94496312760,2014,NaN,NaN,0.0000,0.0000,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,851.53896,163.20055
2,94496312760,2015,NaN,NaN,0.0000,0.0000,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1014.73951,-668.89419
3,94456912732,2011,0.8200,0.3214,0.8200,0.3214,1.954635,9.81,3.350,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,94456912732,2012,0.8000,0.3213,0.8000,0.3213,1.700023,7.98,3.040,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,11768.31309,99.53148
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
125698,611920,2017,1.6100,0.4681,1.6100,0.4681,1.152503,NaN,-5.136,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,668.50942,218.71696
125699,216931,1999,1.6244,0.5929,1.6244,0.5929,1.808200,8.68,0.205,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
125700,216931,2000,1.1944,0.6245,1.1944,0.6245,2.397679,10.59,0.252,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,589.57850,140.97568
125701,216931,2001,1.0409,0.6340,1.0409,0.6340,2.791824,10.68,0.272,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,730.55418,227.35314
125702,216931,2002,0.6548,0.4493,0.6548,0.4493,2.838282,11.57,0.325,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,957.90732,171.83703

In [2]:
#assign ivyleague dummy if director attended at least one ivy league uni
ivy_league = "|".join(["Brown University", "Columbia University", "Cornell University", "Dartmouth College", "Harvard", "University of Pennsylvania", "Princeton", "Yale"])

df2["IvyLeague"] = df2["Institution Name"].str.contains(ivy_league).astype("Int64") #True if institution name contains any of the list items. convert boolean to 1 and 0
df2 = df2.drop(["Institution Name"], axis=1)

df2

          DirectorID  PhD  IvyLeague
0        22047554451    1          0
1       171636610289    0          0
2       171636610289    0          0
3       171636610289    0          1
4        40559911078    0          0
...              ...  ...        ...
634040   10598821141    0          0
634041    4756668186    0          0
634042   13265856472    0          0
634043    8829597641    0          0
634044    8829597641    0          0

[634045 rows x 3 columns]

In [3]:
#groupby phd and ivyleague per director
df2 = df2.groupby(["DirectorID"]).max() #each director has multiple schools. reduce to one observation per director and set to one if at least one PhD received and one ivy league attended
df2

              PhD  IvyLeague
DirectorID
216931          0          1
500100          0          0
500160          0          1
611920          0          0
611970          0          1
...           ...        ...
207071812928    0          0
207073412928    0          0
207075412928    0          0
207075512928    0          0
207076812928    0          0

[298293 rows x 2 columns]

In [4]:
#group by awards sum per director
df3 = df3.groupby(["DirectorID"]).sum()
df3

              AwardReceived
DirectorID
216931                    4
500100                    1
500160                    2
722610                    4
722650                    6
...                     ...
207058312928              1
207061312928              1
207062012928              1
207068612928              1
207076812928              1

[111204 rows x 1 columns]

In [5]:
#merge left (use first df as baseline. add columns from second df to baselind)
df_director_year_merge_education = df1.merge(df2, how="left", on="DirectorID")

df_director_year_merge_education_achievements = df_director_year_merge_education.merge(df3, how="left", on="DirectorID")

df_director_year_merge_education
df_director_year_merge_education_achievements

,DirectorID,Year,Beta Average,Historic Vola Average,Beta Total,Vola Total,Tobins Q Average,ROA Average,EPS Average,Board Size Average,...,change_dummy,event_gain_dummy,event_loss_dummy,event_replace_dummy,event_change_dummy,avg_current_valued_in_prioryear,delta_old,PhD,IvyLeague,AwardReceived
0,94496312760,2013,NaN,NaN,0.0000,0.0000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0,6.0
1,94496312760,2014,NaN,NaN,0.0000,0.0000,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,851.53896,163.20055,0.0,0,6.0
2,94496312760,2015,NaN,NaN,0.0000,0.0000,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,1014.73951,-668.89419,0.0,0,6.0
3,94456912732,2011,0.8200,0.3214,0.8200,0.3214,1.954635,9.81,3.350,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,1,1.0
4,94456912732,2012,0.8000,0.3213,0.8000,0.3213,1.700023,7.98,3.040,NaN,...,0.0,0.0,0.0,0.0,0.0,11768.31309,99.53148,0.0,1,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
125698,611920,2017,1.6100,0.4681,1.6100,0.4681,1.152503,NaN,-5.136,NaN,...,0.0,0.0,0.0,0.0,0.0,668.50942,218.71696,0.0,0,NaN
125699,216931,1999,1.6244,0.5929,1.6244,0.5929,1.808200,8.68,0.205,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,1,4.0
125700,216931,2000,1.1944,0.6245,1.1944,0.6245,2.397679,10.59,0.252,NaN,...,0.0,0.0,0.0,0.0,0.0,589.57850,140.97568,0.0,1,4.0
125701,216931,2001,1.0409,0.6340,1.0409,0.6340,2.791824,10.68,0.272,NaN,...,0.0,0.0,0.0,0.0,0.0,730.55418,227.35314,0.0,1,4.0
125702,216931,2002,0.6548,0.4493,0.6548,0.4493,2.838282,11.57,0.325,NaN,...,0.0,0.0,0.0,0.0,0.0,957.90732,171.83703,0.0,1,4.0

# +Characteristics

In [11]:
df_c1 = pd.read_excel(r"C:\Users\g21728\Desktop\Directors\Data\Characteristics\clean\NA - SMDEs Profile - Characteristics - 1_clean.xlsx")
df_c2 = pd.read_excel(r"C:\Users\g21728\Desktop\Directors\Data\Characteristics\clean\NA - SMDEs Profile - Characteristics - 2_clean.xlsx")
df_c3 = pd.read_excel(r"C:\Users\g21728\Desktop\Directors\Data\Characteristics\clean\NA - SMDEs Profile - Characteristics - 3_clean.xlsx")
df_c4 = pd.read_excel(r"C:\Users\g21728\Desktop\Directors\Data\Characteristics\clean\NA - SMDEs Profile - Characteristics - 4_clean.xlsx")

In [46]:
#combine to one df
df_characteristics = pd.concat([df_c1, df_c2, df_c3, df_c4])
df_characteristics

         DirectorID                  DOB Gender Nationality  Year
0       11858664468                 1963      M    Canadian  2010
1       11858664468                 1963      M    Canadian  2011
2       11858664468                 1963      M    Canadian  2012
3       11858664468                 1963      M    Canadian  2013
4       11858664468                 1963      M    Canadian  2014
...             ...                  ...    ...         ...   ...
216560   8829597641  1953-05-14 00:00:00      M      Polish   NaN
216561   8829597641  1953-05-14 00:00:00      M      Polish   NaN
216562   8829597641  1953-05-14 00:00:00      M      Polish   NaN
216563   8829597641  1953-05-14 00:00:00      M      Polish   NaN
216564   8829597641  1953-05-14 00:00:00      M      Polish   NaN

[1716565 rows x 5 columns]

In [47]:
#remove year and drop duplicate row observations
df_characteristics = df_characteristics.drop(labels="Year", axis=1).drop_duplicates()
df_characteristics['Gender'] = df_characteristics['Gender'].map({'M': 1, 'F': 0})
df_characteristics['DOB'].replace({"Unknown": 0}, inplace=True)
df_characteristics

          DirectorID                  DOB  Gender Nationality
0        11858664468                 1963       1    Canadian
9        11615744030                    0       1     Unknown
11       11358623522                 1948       1    American
13      103832312113                 1954       1     Unknown
28       13389206620                    0       1     Unknown
...              ...                  ...     ...         ...
216532    8768536979  1958-04-01 00:00:00       1     British
216534    7948969080                    0       1     Unknown
216539   81138110481                    0       1     Unknown
216544    7982899383                 1961       1     Unknown
216555    8829597641  1953-05-14 00:00:00       1      Polish

[348732 rows x 4 columns]

In [44]:
#convert all DOB entries to year ints
df_characteristics['DOB'] = df_characteristics['DOB'].astype(str).str[0:4] #take first 4 chars of date of birth
df_characteristics["DOB"] = df_characteristics["DOB"].astype("float").astype("Int64") #convert year to int
df_characteristics

          DirectorID   DOB  Gender Nationality
0        11858664468  1963       1    Canadian
9        11615744030     0       1     Unknown
11       11358623522  1948       1    American
13      103832312113  1954       1     Unknown
28       13389206620     0       1     Unknown
...              ...   ...     ...         ...
216532    8768536979  1958       1     British
216534    7948969080     0       1     Unknown
216539   81138110481     0       1     Unknown
216544    7982899383  1961       1     Unknown
216555    8829597641  1953       1      Polish

[348732 rows x 4 columns]

In [ ]:
df_director_year_merge_education_achievements_characteristics = df_director_year_merge_education_achievements.merge(df_characteristics, how="left", on=["DirectorID"]).sort_values(by=["DirectorID", "Year"], ascending=[True,True], ignore_index=True)
#TypeError: unsupported operand type(s) for -: 'int' and 'datetime.datetime'
# df_director_year_merge_education_achievements_characteristics["Age"] = df_director_year_merge_education_achievements_characteristics["Year"] - df_director_year_merge_education_achievements_characteristics["DOB"]
# df_director_year_merge_education_achievements_characteristics

In [19]:
df_director_year_merge_education_achievements_characteristics

,DirectorID,Year,Beta Average,Historic Vola Average,Beta Total,Vola Total,Tobins Q Average,ROA Average,EPS Average,Board Size Average,...,event_replace_dummy,event_change_dummy,avg_current_valued_in_prioryear,delta_old,PhD,IvyLeague,AwardReceived,DOB,Gender,Nationality
0,216931,1999,1.6244,0.5929,1.6244,0.5929,1.808200,8.68,0.205,NaN,...,NaN,NaN,NaN,NaN,0.0,1,4.0,1951-04-22 00:00:00,1.0,American
1,216931,2000,1.1944,0.6245,1.1944,0.6245,2.397679,10.59,0.252,NaN,...,0.0,0.0,589.57850,140.97568,0.0,1,4.0,1951-04-22 00:00:00,1.0,American
2,216931,2001,1.0409,0.6340,1.0409,0.6340,2.791824,10.68,0.272,NaN,...,0.0,0.0,730.55418,227.35314,0.0,1,4.0,1951-04-22 00:00:00,1.0,American
3,216931,2002,0.6548,0.4493,0.6548,0.4493,2.838282,11.57,0.325,NaN,...,0.0,0.0,957.90732,171.83703,0.0,1,4.0,1951-04-22 00:00:00,1.0,American
4,611920,2008,0.8100,0.3693,0.8100,0.3693,0.803759,2.29,1.460,NaN,...,NaN,NaN,NaN,NaN,0.0,0,NaN,1958,1.0,Unknown
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
125698,94456912732,2012,0.8000,0.3213,0.8000,0.3213,1.700023,7.98,3.040,NaN,...,0.0,0.0,11768.31309,99.53148,0.0,1,1.0,1957,1.0,American
125699,94456912732,2013,0.7000,0.2790,0.7000,0.2790,1.582541,5.73,2.351,NaN,...,0.0,0.0,11867.84457,326.71709,0.0,1,1.0,1957,1.0,American
125700,94496312760,2013,NaN,NaN,0.0000,0.0000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.0,0,6.0,1962-10-01 00:00:00,0.0,American
125701,94496312760,2014,NaN,NaN,0.0000,0.0000,NaN,NaN,NaN,NaN,...,0.0,0.0,851.53896,163.20055,0.0,0,6.0,1962-10-01 00:00:00,0.0,American
125702,94496312760,2015,NaN,NaN,0.0000,0.0000,NaN,NaN,NaN,NaN,...,0.0,0.0,1014.73951,-668.89419,0.0,0,6.0,1962-10-01 00:00:00,0.0,American

# +Committee

In [17]:
df_committee = pd.read_csv(r"C:\Users\g21728\Desktop\Directors\Data\Characteristics\clean\director-year_committee.csv", decimal=",", sep=";")

df_committee

,DirectorID,Year,Audit Committee,Compensation Committee,Nomination Committee,Governance Committee,Finance/Risk Committee,Member,Chairman,ED,CEO,CFO,NumberofDirs
0,94496312760,2013,0,0,0,0,0,0,0,1,0,0,1
1,94496312760,2014,0,0,0,0,0,0,0,1,0,0,1
2,94496312760,2015,0,0,0,0,0,0,0,1,0,0,1
3,94456912732,2011,0,0,0,0,0,0,0,1,0,1,1
4,94456912732,2012,0,0,0,0,0,0,0,1,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
125698,611920,2017,0,0,0,0,0,0,0,0,0,0,1
125699,216931,1999,0,0,0,0,0,0,0,1,1,0,1
125700,216931,2000,0,0,0,0,0,0,0,1,1,0,1
125701,216931,2001,0,0,0,0,0,0,0,1,1,0,1
125702,216931,2002,0,0,0,0,0,0,0,1,1,0,1

In [20]:
df_director_year_merge_education_achievements_characteristics_committee = df_director_year_merge_education_achievements_characteristics.merge(df_committee, how="left", on=["DirectorID", "Year"]).sort_values(by=["DirectorID", "Year"], ascending=[True,True], ignore_index=True)
df_director_year_merge_education_achievements_characteristics_committee

,DirectorID,Year,Beta Average,Historic Vola Average,Beta Total,Vola Total,Tobins Q Average,ROA Average,EPS Average,Board Size Average,...,Compensation Committee,Nomination Committee,Governance Committee,Finance/Risk Committee,Member,Chairman,ED,CEO,CFO,NumberofDirs
0,216931,1999,1.6244,0.5929,1.6244,0.5929,1.808200,8.68,0.205,NaN,...,0,0,0,0,0,0,1,1,0,1
1,216931,2000,1.1944,0.6245,1.1944,0.6245,2.397679,10.59,0.252,NaN,...,0,0,0,0,0,0,1,1,0,1
2,216931,2001,1.0409,0.6340,1.0409,0.6340,2.791824,10.68,0.272,NaN,...,0,0,0,0,0,0,1,1,0,1
3,216931,2002,0.6548,0.4493,0.6548,0.4493,2.838282,11.57,0.325,NaN,...,0,0,0,0,0,0,1,1,0,1
4,611920,2008,0.8100,0.3693,0.8100,0.3693,0.803759,2.29,1.460,NaN,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
125698,94456912732,2012,0.8000,0.3213,0.8000,0.3213,1.700023,7.98,3.040,NaN,...,0,0,0,0,0,0,1,0,1,1
125699,94456912732,2013,0.7000,0.2790,0.7000,0.2790,1.582541,5.73,2.351,NaN,...,0,0,0,0,0,0,1,0,1,1
125700,94496312760,2013,NaN,NaN,0.0000,0.0000,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,1,0,0,1
125701,94496312760,2014,NaN,NaN,0.0000,0.0000,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,1,0,0,1
125702,94496312760,2015,NaN,NaN,0.0000,0.0000,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,1,0,0,1

In [21]:
#export
df_director_year_merge_education_achievements_characteristics_committee.to_csv(r"C:\Users\g21728\Desktop\director-year-complete.csv", sep=";", decimal=',', index=False)

# add network size
## with director-firm-years
4 org summaries: daraus directorid, year und networksize
mit unseren dta file mergen

In [14]:
import pandas as pd
import numpy as np
pd.options.mode.chained_assignment = None  # default='warn'

# df_org1 = pd.read_excel(r"D:\Dokumente\WMA\Projects\5 Directors\Data\Raw Data\NA - SMDEs Org Summary - 1.xlsx")
# df_org2 = pd.read_excel(r"D:\Dokumente\WMA\Projects\5 Directors\Data\Raw Data\NA - SMDEs Org Summary - 2.xlsx")
# df_org3 = pd.read_excel(r"D:\Dokumente\WMA\Projects\5 Directors\Data\Raw Data\NA - SMDEs Org Summary - 3.xlsx")
# df_org4 = pd.read_excel(r"D:\Dokumente\WMA\Projects\5 Directors\Data\Raw Data\NA - SMDEs Org Summary - 4.xlsx")

#combine org summaries to one df
# df_combined = pd.concat([df_org1, df_org2, df_org3, df_org4], ignore_index=True)
#safe to pickle (feather .ftr doesnt work since some columns are stored as object types)
# df_combined.to_pickle(r"C:\Users\hannes\Desktop\director-firm-years-networksize.pkl")

df_summary = pd.read_pickle(r"D:\Dokumente\WMA\Projects\5 Directors\Data\Raw Data\NA - SMDEs Org Summary.pkl")

In [15]:
#set first row as headers
df_summary.columns = df_summary.iloc[0]
df_summary = df_summary[1:]
df_summary
#delete headers from df2-4
df_summary.drop_duplicates(inplace=True)
#rename column names
df_summary.rename(columns={"DirectorID*": "DirectorID", "CompanyID*": "CompanyID"}, inplace=True)
#delete last remaining header
df_summary[df_summary["DirectorID"] == "DirectorID*"].index
df_summary.drop(499878, inplace=True)
# annual report year: current -> 2019; [:-4]
df_summary["Annual Report Year"].replace(['Current'], ["Dec 2019"], inplace=True) #doesnt work
#convert string to int
df_summary['DirectorID'] = pd.to_numeric(df_summary['DirectorID'], errors='ignore') 

pd.set_option('display.max_columns', None)
df_summary.sort_values(by=["DirectorID"], inplace=True, ignore_index=True)

df_summary

,Annual Report Year,Country,CompanyID,Company Name,ISIN,Ticker,Index,Sector,"Director Type (ED , SD or SM)",DirectorID,Individual Name,Individual Role,Director Network Size,Time to Retirement,Time in Role,Time on Board,Time in Company,Total Number of Quoted Boards to Date,Total Number of Private Boards to Date,Total Number of Other Boards to Date,Total Number of Quoted Current Boards,Total Number of Private Current Boards,Total Number of Other Current Boards,Avg. Yrs on Other Quoted Boards,Age (Yrs),Number of Qualifications,Gender,Nationality Mix,Bonus/ (Bonus&Salary),Equity Linked/ Total,Performance/ Total,%Change from Last Period,Wealth Delta,Salary,Bonus,D.C Pension,Other,Total Salary+Bonus,Total Inc. D.C. Pension & Other,Shares,LTIPS(max),Vesting Date,Intrinsic Options (excercisable),Intrinsic Options (unexercisable),Estimated Options (exercisable),Estimated Options (unexcercisable),Share Price,Total Equity Linked Compensation,Total Annual Compensation,Shares,LTIPS(max),Intrinsic Option,Estimated Option,Liquid Wealth,Total Wealth,AUDIT COMMITTEE MEMBER (if yes then put M),REMUNERATION/ COMPENSATION COMMITTEE MEMBER,NOMINATION COMMITTEE MEMBER,AUDIT COMMITTEE SIZE,REMUNERATION/ COMPENSATION COMMITTEE SIZE,NOMINATION COMMITTEE SIZE
0,Dec 2001,United States,217149383,IDEXX LABORATORIES INC,US45168D1046,IDXX,"NASDAQ 100, S&P 500",Pharmaceuticals and Biotechnology,ED,216931,David Evans Shaw,Chairman/President/CEO,4313,14.3,13.2,18.9,18.9,1,6,n.a,1,1,n.a,0,50,3,M,American,0.36,0.7,n.a,23.38,452,500,280,n.a,5,780,785,n.a,n.a,2003-02-07 00:00:00,n.a,123,n.a,369,28.83,1846,2626,10357,n.a,18109,25792,28466,36149,NaN,NaN,NaN,NaN,NaN,NaN
1,Dec 2000,United States,217149383,IDEXX LABORATORIES INC,US45168D1046,IDXX,"NASDAQ 100, S&P 500",Pharmaceuticals and Biotechnology,ED,216931,David Evans Shaw,Chairman/President/CEO,4313,15.3,12.2,17.9,17.9,1,6,n.a,1,1,n.a,0,49,3,M,American,0.45,0.61,n.a,n.a,375,467,383,n.a,5,849,855,n.a,n.a,2001-02-04 00:00:00,n.a,93,n.a,268,24.31,1339,2189,8741,n.a,12339,23819,21080,32560,NaN,NaN,NaN,NaN,NaN,NaN
2,Dec 2000,United States,217149383,IDEXX LABORATORIES INC,US45168D1046,IDXX,"NASDAQ 100, S&P 500",Pharmaceuticals and Biotechnology,ED,216931,David Evans Shaw,Chairman/President/CEO,4313,15.3,12.2,17.9,17.9,1,6,n.a,1,1,n.a,0,49,3,M,American,0.45,0.61,n.a,n.a,375,467,383,n.a,5,849,855,n.a,n.a,2002-02-04 00:00:00,n.a,93,n.a,268,24.31,1339,2189,8741,n.a,12339,23819,21080,32560,NaN,NaN,NaN,NaN,NaN,NaN
3,Dec 2000,United States,217149383,IDEXX LABORATORIES INC,US45168D1046,IDXX,"NASDAQ 100, S&P 500",Pharmaceuticals and Biotechnology,ED,216931,David Evans Shaw,Chairman/President/CEO,4313,15.3,12.2,17.9,17.9,1,6,n.a,1,1,n.a,0,49,3,M,American,0.45,0.61,n.a,n.a,375,467,383,n.a,5,849,855,n.a,n.a,2004-02-04 00:00:00,n.a,93,n.a,268,24.31,1339,2189,8741,n.a,12339,23819,21080,32560,NaN,NaN,NaN,NaN,NaN,NaN
4,Dec 2001,United States,217149383,IDEXX LABORATORIES INC,US45168D1046,IDXX,"NASDAQ 100, S&P 500",Pharmaceuticals and Biotechnology,ED,216931,David Evans Shaw,Chairman/President/CEO,4313,14.3,13.2,18.9,18.9,1,6,n.a,1,1,n.a,0,50,3,M,American,0.36,0.7,n.a,23.38,452,500,280,n.a,5,780,785,n.a,n.a,2005-02-07 00:00:00,n.a,123,n.a,369,28.83,1846,2626,10357,n.a,18109,25792,28466,36149,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1939299,Nov 2018,United States,22311076,ADOBE INC (Adobe Systems Inc prior to 10/2018),US00724F1012,"ADB, ADBE","NASDAQ 100, S&P 100, S&P 500",Software & Computer Services,SM,207075912928,Alvaro Del Pozo,Regional VP - Marketing,110,n.a,n.a,n.a,n.a,n.a,n.a,n.a,n.a,n.a,n.a,n.a,n.a,n.a,n.a,n.a,n.a,n.a,n.a,n.a,n.a,n.a,n.a,n.a,n.a,n.a,n.a,n.a,n.a,NaN,n.a,n.a,n.a,n.a,n.a,n.a,n.a,n.a,n.a,n.a,n.a,n.a,n.a,NaN,NaN,NaN,NaN,NaN,NaN
1939300,Current,United States,22311076,ADOBE INC (Adobe Systems Inc prior to 10/2018),US00724F1012,"ADB, ADBE","NASDAQ 100, S&P 100, S&P 500",Software & Computer Services,SM,207075912928,Alvaro Del Pozo,Regional VP - Marketing,110,n.a,n.a,n.a,n.a,n.a,n.a,n.a,n.a,n.a,n.a,n.a,n.a,n.a,n.a,n.a,n.a,n.a,n.a,n.a,n.a,n.a,n.a,n.a,n.a,n.a,n.a,n.a,n.a,NaN,n.a,n.a,n.a,n.a,n.a,n.a,n.a,n.a,n.a,n.a,n.a,n.a,n.a,NaN,NaN,NaN,NaN,NaN,NaN
1939301,Dec 2009,United States,116887812,COMCAST CORP (AT&T Comcast Corp prior to 11/2002),"US2003005079, US20030N1019","CCZ, CMCSA","NASDAQ 100, S&P 100, S&P 500",Telecommunication Services,SM,207076812928,Thomas (Tom) Alexander,Senior VP,276,n.a,n.a,n.a,n.a,n.a,n.a,n.a,n.a,n.a,n.a,n.a,n.a,n.a,n.a,n.a,n.a,n.a,n.a,n.a,n.a,n.a,n.a,n.a,n.a,n.a,n.a,n.a,n.a,NaN,n.a,n.a,n.a,n.a,n.a,n.a,n.a,n.a,n.a,n.a,n.a,n.a,n.a,NaN,NaN,NaN,NaN,NaN,NaN
1939302,Dec 2008,United States,116887812,COMCAST CORP (AT&T Comcast Corp prior to 11/2002),"US2003005079, US20030N1019","CCZ, CMCSA","NASDAQ 100, S&P 100, S&P 500",Telecommunication Services,SM,207076812928,Thomas (Tom) Alexander,Senior VP,276,n.a,n.a,n.a,n.a,n.a,n.a,n.a,n.a,n.a,n.a,n.a,n.a,n.a,n.a,n.a,n.a,n.a,n.a,n.a,n.a,n.a,n.a,n.a,n.a,n.a,n.a,n.a,n.a,NaN,n.a,n.a,n.a,n.a,n.a,n.a,n.a,n.a,n.a,n.a,n.a,n.a,n.a,NaN,NaN,NaN,NaN,NaN,NaN
1939303,Current,United States,395843456,TJX COS INC,US8725401090,TJX,S&P 500,General Retailers,SM,207077312928,Douglas (Doug) W Mizzi,Senior Executive VP/Group President,77,n.a,n.a,n.a,n.a,n.a,n.a,n.a,n.a,n.a,n.a,n.a,n.a,n.a,n.a,n.a,n.a,n.a,n.a,n.a,n.a,n.a,n.a,n.a,n.a,n.a,n.a,n.a,n.a,NaN,n.a,n.a,n.a,n.a,n.a,n.a,n.a,n.a,n.a,n.a,n.a,n.a,n.a,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
df_summary = df_summary.loc[:,~df_summary.columns.duplicated()] #apparently there are duplicates in the df, which have to be removed before filter can be used
df_summary_filter = df_summary.filter(["DirectorID", "Annual Report Year", "Director Network Size"])
df_networksize = df_summary_filter.groupby("DirectorID")["Director Network Size"].max().reset_index(name="Director Network Size")
df_networksize

          DirectorID  Director Network Size
0             216931                   4313
1             500100                    281
2             500160                   4979
3             611920                   1621
4             611970                    284
...              ...                    ...
348788  207075412928                    127
348789  207075512928                   1087
348790  207075912928                    110
348791  207076812928                    276
348792  207077312928                     77

[348793 rows x 2 columns]

In [12]:
# df_stata = pd.read_stata(r"C:\Users\g21728\Desktop\Directors\Stata\Stata_Data_Director_02122021.dta") #same as df_director_year_merge_education_achievements_characteristics_committee
df_stata = pd.read_csv(r"C:\Users\hannes\Desktop\director-firm-year-v2.csv", sep=";", decimal=',') #see director-firm-years.ipynb output
df_stata["afterloss_beforegain"].replace([True, False], [1, 0], inplace=True)
df_stata

,DirectorID,FirmID,Year,Vorhanden,afterloss_beforegain,SoloObservation,ISIN,ISIN_alternative,FIRM Board Independence,FIRM Total Assets,FIRM Growth Rate of Assets,FIRM Cash,FIRM Debt to Capital,FIRM Closely Held Shares,FIRM EPS,FIRM ROA,BetaAverage,HistoricVolaAverage,BetaTotal,VolaTotal,TobinsQAverage,ROAAverage,EPSAverage,BoardSizeAverage,BoardMeetingsAverage,AttendanceLevel,LitigationExpensesAverage,IndependenceLevelAverage,AccrualsChangeAverage,TotalAssetsAverage,GrowthRateAssetsAverage,ImpairmentIntangiblesAverage,CashAverage,ImpairmentGoodwillAverage,DebttoCapitalAverage,CloselyHeldSharesAverage,AmortIntangGoodwillAverage,AmortOfdefChargesAverages,AmortIntangAverage,CommonSharesOutstandingAverage,BriberyCorruptionandFraudControv,RESEARCHDEVELOPMENTAVERAGE,EarlyAuditorResignation,ManagementDepatureAverage,GoodwillWrittenOffAverage,EarningsRestatementAverage,GovernanceScoreAverage,BoardSizeAverage1,NEDBoardSizeAverage,BoardCompensationAverage,ReviewAverage,RatingBalanceAverage,RatingCultureOverallAverage,RatingCareerAverage,RatingCompAverage,RecommendsAverage,PositiveOutlookAverage,ApprovesofCEOAverage,HelpfulAverage,CurrentEmployeeAverage,FullTimeAverage,TenureAverage,MarketCapAverage,MarketCapDelta,marketcapdummy,marketcapdummy_log,PF_changed,avg_previous_currentyear,avg_current,delta_currentprevious,realtivfemarketcapDelta,marketcapdummy_ersteBeobachtungb,gain_dummy,loss_dummy,replacement_dummy,change_dummy,event_gain_dummy,event_loss_dummy,event_replace_dummy,event_change_dummy,avg_current_valued_in_prioryear,delta_old,PhD,IvyLeague,AwardReceived,AuditCommittee,CompensationCommittee,NominationCommittee,GovernanceCommittee,FinanceRiskCommittee,Member,Chairman,ED,CEO,CFO,NumberofDirs,Nationality,NewAge,GenderDummy1M0F,SoleDirectorship,lnAge,gain_loss_replacement,new_chairman_dummy
0,3791088892,6613355791,2008,NaN,1,0,US1724061007,US1724062096,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.9609,0.6803,1.9609,0.6803,0.844568,-4.91,-14.5,NaN,NaN,NaN,NaN,NaN,NaN,373676.0,23.21,1588.0,29655.0,0.0,80.09,13.26,0.0,NaN,4880.0,2683.0,0.0,162.0,0.0,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9926.0,-100487.0,0.0,1.0,0,10.19959,10.19959,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,115.91367,-105.71408,NaN,NaN,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,NaN,66.0,NaN,1.0,4.189655,0.0,1.0
1,3791088892,6613355791,2009,NaN,1,0,US1724061007,US1724062096,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.5868,0.8002,1.5868,0.8002,1.010982,-5.60,-8.6,NaN,NaN,NaN,NaN,NaN,NaN,322397.0,-13.72,NaN,26329.0,6525.0,86.90,21.53,6525.0,NaN,4111.0,2823.0,0.0,188.0,0.0,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34719.0,24793.0,1.0,2.0,0,35.38302,35.38302,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,10.19959,25.18343,NaN,NaN,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,NaN,67.0,NaN,1.0,4.204693,0.0,1.0
2,3791088892,6613355791,2010,-1.0,0,1,US1724061007,US1724062096,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.6491,0.8047,1.6491,0.8047,1.140293,-2.46,-12.6,NaN,NaN,NaN,NaN,NaN,NaN,297147.0,-7.83,NaN,5860.0,NaN,95.57,19.44,NaN,NaN,4132.0,2879.0,0.0,218.0,0.0,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,48361.0,13642.0,1.0,2.0,0,52.62802,52.62802,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,35.38302,17.24500,NaN,NaN,3.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,NaN,68.0,NaN,1.0,4.219508,0.0,1.0
3,3791088892,6613355791,2011,NaN,1,0,US1724061007,US1724062096,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,3791088892,6613355791,2012,NaN,1,0,US1724061007,US1724062096,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
346030,4782098437,22863395693,2015,2.0,0,0,IE00BJ0X7W22,IE00BJ0X7W22,NaN,23407,899.44,21749,0,70.9,-1.403,-141.06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
346031,4782098437,22863395693,2016,1.0,0,0,IE00BJ0X7W22,IE00BJ0X7W22,NaN,10377,-55.67,7333,9.24,92.84,-1.181,-93.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
346032,4782098437,22863395693,2017,1.0,0,0,IE00BJ0X7W22,IE00BJ0X7W22,NaN,5562,-46.4,3236,13.29,74.13,-1.031,-212.99,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
346033,4782098437,22863395693,2018,1.0,0,0,IE00BJ0X7W22,IE00BJ0X7W22,NaN,4530,-18.55,2527,55.62,74.74,-0.495,-165.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
346034,4782098437,22863395693,2019,1.0,0,0,IE00BJ0X7W22,IE00BJ0X7W22,NaN,.,.,.,.,.,.,.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
#merge left
df_director_firm_year_merge_network = df_stata.merge(df_networksize, how="left", on="DirectorID")
df_director_firm_year_merge_network

,DirectorID,FirmID,Year,Vorhanden,afterloss_beforegain,SoloObservation,ISIN,ISIN_alternative,FIRM Board Independence,FIRM Total Assets,FIRM Growth Rate of Assets,FIRM Cash,FIRM Debt to Capital,FIRM Closely Held Shares,FIRM EPS,FIRM ROA,BetaAverage,HistoricVolaAverage,BetaTotal,VolaTotal,TobinsQAverage,ROAAverage,EPSAverage,BoardSizeAverage,BoardMeetingsAverage,AttendanceLevel,LitigationExpensesAverage,IndependenceLevelAverage,AccrualsChangeAverage,TotalAssetsAverage,GrowthRateAssetsAverage,ImpairmentIntangiblesAverage,CashAverage,ImpairmentGoodwillAverage,DebttoCapitalAverage,CloselyHeldSharesAverage,AmortIntangGoodwillAverage,AmortOfdefChargesAverages,AmortIntangAverage,CommonSharesOutstandingAverage,BriberyCorruptionandFraudControv,RESEARCHDEVELOPMENTAVERAGE,EarlyAuditorResignation,ManagementDepatureAverage,GoodwillWrittenOffAverage,EarningsRestatementAverage,GovernanceScoreAverage,BoardSizeAverage1,NEDBoardSizeAverage,BoardCompensationAverage,ReviewAverage,RatingBalanceAverage,RatingCultureOverallAverage,RatingCareerAverage,RatingCompAverage,RecommendsAverage,PositiveOutlookAverage,ApprovesofCEOAverage,HelpfulAverage,CurrentEmployeeAverage,FullTimeAverage,TenureAverage,MarketCapAverage,MarketCapDelta,marketcapdummy,marketcapdummy_log,PF_changed,avg_previous_currentyear,avg_current,delta_currentprevious,realtivfemarketcapDelta,marketcapdummy_ersteBeobachtungb,gain_dummy,loss_dummy,replacement_dummy,change_dummy,event_gain_dummy,event_loss_dummy,event_replace_dummy,event_change_dummy,avg_current_valued_in_prioryear,delta_old,PhD,IvyLeague,AwardReceived,AuditCommittee,CompensationCommittee,NominationCommittee,GovernanceCommittee,FinanceRiskCommittee,Member,Chairman,ED,CEO,CFO,NumberofDirs,Nationality,NewAge,GenderDummy1M0F,SoleDirectorship,lnAge,gain_loss_replacement,new_chairman_dummy,Director Network Size
0,3791088892,6613355791,2008,NaN,1,0,US1724061007,US1724062096,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.9609,0.6803,1.9609,0.6803,0.844568,-4.91,-14.5,NaN,NaN,NaN,NaN,NaN,NaN,373676.0,23.21,1588.0,29655.0,0.0,80.09,13.26,0.0,NaN,4880.0,2683.0,0.0,162.0,0.0,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9926.0,-100487.0,0.0,1.0,0,10.19959,10.19959,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,115.91367,-105.71408,NaN,NaN,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,NaN,66.0,NaN,1.0,4.189655,0.0,1.0,217
1,3791088892,6613355791,2009,NaN,1,0,US1724061007,US1724062096,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.5868,0.8002,1.5868,0.8002,1.010982,-5.60,-8.6,NaN,NaN,NaN,NaN,NaN,NaN,322397.0,-13.72,NaN,26329.0,6525.0,86.90,21.53,6525.0,NaN,4111.0,2823.0,0.0,188.0,0.0,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34719.0,24793.0,1.0,2.0,0,35.38302,35.38302,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,10.19959,25.18343,NaN,NaN,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,NaN,67.0,NaN,1.0,4.204693,0.0,1.0,217
2,3791088892,6613355791,2010,-1.0,0,1,US1724061007,US1724062096,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.6491,0.8047,1.6491,0.8047,1.140293,-2.46,-12.6,NaN,NaN,NaN,NaN,NaN,NaN,297147.0,-7.83,NaN,5860.0,NaN,95.57,19.44,NaN,NaN,4132.0,2879.0,0.0,218.0,0.0,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,48361.0,13642.0,1.0,2.0,0,52.62802,52.62802,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,35.38302,17.24500,NaN,NaN,3.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,NaN,68.0,NaN,1.0,4.219508,0.0,1.0,217
3,3791088892,6613355791,2011,NaN,1,0,US1724061007,US1724062096,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,217
4,3791088892,6613355791,2012,NaN,1,0,US1724061007,US1724062096,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,217
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
346030,4782098437,22863395693,2015,2.0,0,0,IE00BJ0X7W22,IE00BJ0X7W22,NaN,23407,899.44,21749,0,70.9,-1.403,-141.06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,109
346031,4782098437,22863395693,2016,1.0,0,0,IE00BJ0X7W22,IE00BJ0X7W22,NaN,10377,-55.67,7333,9.24,92.84,-1.181,-93.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,109
346032,4782098437,22863395693,2017,1.0,0,0,IE00BJ0X7W22,IE00BJ0X7W22,NaN,5562,-46.4,3236,13.29,74.13,-1.031,-212.99,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,109
346033,4782098437,22863395693,2018,1.0,0,0,IE00BJ0X7W22,IE00BJ0X7W22,NaN,4530,-18.55,2527,55.62,74.74,-0.495,-165.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,109
346034,4782098437,22863395693,2019,1.0,0,0,IE00BJ0X7W22,IE00BJ0X7W22,NaN,.,.,.,.,.,.,.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,109

In [21]:
#export
df_director_firm_year_merge_network.to_csv(r"C:\Users\hannes\Desktop\director-year-complete.csv", sep=";", decimal=',', index=False)