In [ ]:
import pandas as pd
import numpy as np
pd.options.mode.chained_assignment = None  # default='warn'

df_original = pd.read_excel(r"C:\Users\Hannes\Desktop\exam.xlsx")

In [ ]:
#create copy which can be restored
df = df_original.copy()

# insert new column after Vorhanden Column
df.insert(df.columns.get_loc("Event")+1, "years_before_gain", 0)
df.insert(df.columns.get_loc("Event")+2, "years_before_loss", 0)

In [ ]:
for ind in df.index: #manually loop through all columns
    if df.loc[ind, "Event"] == 2: #check if gain
        for i in range(1,(df.loc[ind, "Year"] - 1999) + 1):
            df.loc[(ind - i), "years_before_gain"] = i #fill year minus 1999 previous rows
    # elif df.loc[ind, "Vorhanden"] == -1: #check if loss
    #     for i in range(1,(2019 - df.loc[ind, "Year"]) + 1):
    #         df.loc[(ind + i), "years_after_loss"] = i #fill year minus 1999 previous rows

TypeError: 'numpy.float64' object cannot be interpreted as an integer

In [ ]:
pd.read_clipboard()

  DirectorID      FirmID  Year  Event  years_before_gain  years_before_loss
0         A1  7765167254  2000    NaN                  0                  0
1         A1  7765167254  2001    NaN                  0                  0
2         A1  7765167254  2002    2.0                  0                  0
3         A1  7765167254  2003    NaN                  0                  0
4         B2  7765167254  2000    NaN                  0                  0
5         B2  7765167254  2001    NaN                  0                  0
6         B2  7765167254  2002    NaN                  0                  0
7         B2  7765167254  2003    2.0                  0                  0