In [1]:
import pandas as pd
import numpy as np
pd.options.mode.chained_assignment = None  # default='warn'

#example
# df_latest = pd.read_excel(r"D:\Docs\Dokumente\WMA\Projects\5 Directors\director-project git\start-end-year-split\is_member_short.xlsx", sheet_name="latest_short")
# df_member = pd.read_excel(r"D:\Docs\Dokumente\WMA\Projects\5 Directors\director-project git\start-end-year-split\is_member_short.xlsx", sheet_name="onlyNEDs_short")

#actual files
df_latest = pd.read_csv(r"D:\Docs\Dokumente\WMA\Projects\5 Directors\Data\Director-Firm-Years\1228director-firm-years_with-numberofdirs.csv", sep=";", decimal=".")
df_member = pd.read_excel(r"D:\Docs\Dokumente\WMA\Projects\5 Directors\Data\Vars\is_member.xlsx", sheet_name="onlyNEDs")

In [4]:
df_latest = df_latest.sort_values(by=["DirectorID", "FirmID", "Year"], ascending=[True,True, True], ignore_index=True) #als baseline
df_latest

,DirectorID,FirmID,ISIN,ISIN_alternative,Year,PF_gain_loss_replace,PF_gain_dummy,PF_loss_dummy,PF_replace_dummy,PF_change_dummy,...,DIR_Nationality,DIR_PhD,DIR_IvyLeague,DIR_AwardsReceived,DIR_Age,DIR_GenderDummy1M0F,DIR_SoleDirectorship,DIR_lnAge,DIR_DirectorNetworkSize,FIXED_EFFECTS_DirectorFIRM
0,2.169310e+05,2.897450e+08,US6369183024,US6369183024,1999,NaN,NaN,NaN,NaN,NaN,...,NaN,0.0,1.0,4.0,48.0,NaN,1.0,3.871201,4313,2.170000e+14
1,2.169310e+05,2.897450e+08,US6369183024,US6369183024,2000,0,0.0,0.0,0.0,0.0,...,American,0.0,1.0,4.0,49.0,1.0,1.0,3.891820,4313,2.170000e+14
2,2.169310e+05,2.897450e+08,US6369183024,US6369183024,2001,0,0.0,0.0,0.0,0.0,...,American,0.0,1.0,4.0,50.0,1.0,1.0,3.912023,4313,2.170000e+14
3,2.169310e+05,2.897450e+08,US6369183024,US6369183024,2002,0,0.0,0.0,0.0,0.0,...,NaN,0.0,1.0,4.0,51.0,NaN,1.0,3.931826,4313,2.170000e+14
4,2.169310e+05,2.897450e+08,US6369183024,US6369183024,2003,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4313,2.170000e+14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
929224,2.070000e+11,2.800000e+11,KYG2345N1025,KYG2345N1025,2015,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2193,2.070000e+23
929225,2.070000e+11,2.800000e+11,KYG2345N1025,KYG2345N1025,2016,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2193,2.070000e+23
929226,2.070000e+11,2.800000e+11,KYG2345N1025,KYG2345N1025,2017,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2193,2.070000e+23
929227,2.070000e+11,2.800000e+11,KYG2345N1025,KYG2345N1025,2018,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2193,2.070000e+23
929228,2.070000e+11,2.800000e+11,KYG2345N1025,KYG2345N1025,2019,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2193,2.070000e+23

In [8]:
df_member

,DirectorID,FirmID,Year_Helper,Start_Year,End_Year,InsideToOutsideRole,OutsideToInsideRole,Committee_Group_Nominating,Committee_Group_Compensation,Committee_Group_Audit,Committee_Group_Finance,Committee_Group_Governance,Committee_Group_Risk,Committee_Member,Committee_Chairman,Committee_OtherMember
0,216931,289744950,2004_2007,2004.0,2007.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,216931,9005059329,2005,2005.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,216931,12728885777,2004_2010,2004.0,2010.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,216931,13184186371,2009_2014,2009.0,2014.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,216931,24582777748,2009_2030,2009.0,2030.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
236667,207032012928,308051812886,2030,NaN,2030.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
236668,207061012928,787889784,2030,NaN,2030.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
236669,207061012928,12466115407,2010_2030,2010.0,2030.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
236670,207068612928,194713212062,2017_2030,2017.0,2030.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
236671,207068712928,302174112476,2012_2014,2012.0,2014.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
#insert new column
df_member.insert(df_member.columns.get_loc("End_Year")+1, "overlapping_committees_or_positions", np.nan)
df_member["overlapping_committees_or_positions"] = df_member.duplicated(subset=["DirectorID", "FirmID"])
df_member[10:20]

,DirectorID,FirmID,Year_Helper,Start_Year,End_Year,overlapping_committees_or_positions,InsideToOutsideRole,OutsideToInsideRole,Committee_Group_Nominating,Committee_Group_Compensation,Committee_Group_Audit,Committee_Group_Finance,Committee_Group_Governance,Committee_Group_Risk,Committee_Member,Committee_Chairman,Committee_OtherMember
10,216931,307884512879,2018_2030,2018.0,2030.0,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,611920,2462511414,2008_2018,2008.0,2018.0,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN
12,611920,2462511414,2008_2018,2008.0,2018.0,True,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,1.0,NaN,NaN
13,611920,2462511414,2008_2018,2008.0,2018.0,True,NaN,NaN,1.0,NaN,NaN,NaN,1.0,NaN,NaN,1.0,NaN
14,611920,2462511414,2008_2018,2008.0,2018.0,True,NaN,NaN,1.0,NaN,NaN,NaN,1.0,NaN,1.0,NaN,NaN
15,611970,2632712483,2001_2007,2001.0,2007.0,False,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,1.0,NaN,NaN
16,611970,2632712483,2001_2007,2001.0,2007.0,True,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,1.0,NaN,NaN
17,611970,2632712483,2001_2007,2001.0,2007.0,True,NaN,NaN,1.0,NaN,NaN,NaN,1.0,NaN,1.0,NaN,NaN
18,611970,50110610431,2030,NaN,2030.0,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,722600,1388555735,2000_2001,2000.0,2001.0,False,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
#combine duplicate observations per dir firm year_helper
df = df_member.groupby(["DirectorID", "FirmID", "Year_Helper"]).max().reset_index()
df[10:15]

,DirectorID,FirmID,Year_Helper,Start_Year,End_Year,overlapping_committees_or_positions,InsideToOutsideRole,OutsideToInsideRole,Committee_Group_Nominating,Committee_Group_Compensation,Committee_Group_Audit,Committee_Group_Finance,Committee_Group_Governance,Committee_Group_Risk,Committee_Member,Committee_Chairman,Committee_OtherMember
10,611920,2462511414,2008_2018,2008.0,2018.0,True,NaN,NaN,1.0,1.0,NaN,NaN,1.0,NaN,1.0,1.0,NaN
11,611970,2632712483,2001_2007,2001.0,2007.0,True,NaN,NaN,1.0,1.0,1.0,NaN,1.0,NaN,1.0,NaN,NaN
12,611970,50110610431,2030,NaN,2030.0,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,722600,1388555735,2000_2001,2000.0,2001.0,False,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,722610,118579108,2003_2007,2003.0,2007.0,False,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN

In [11]:
df = df_member.groupby(["DirectorID", "FirmID", "Year_Helper"]).max().reset_index()
#drop rows in which either start or end year is missing
df.drop(df[df['Start_Year'].isna() | df['End_Year'].isna()].index, inplace = True)
# replace end year 2030 with 2020
df["End_Year"].replace([2030], [2020], inplace=True)
#insert new column
df.insert(df.columns.get_loc("End_Year")+1, "Delta_Year", np.nan)
df["Delta_Year"] = df["End_Year"] - df['Start_Year'] + 1

#Repeat Rows in Data Frame n Times
df = df.loc[df.index.repeat(df.Delta_Year)].reset_index()
df = df.drop(columns=["index"])

#insert new column
df.insert(df.columns.get_loc("FirmID")+1, "Year", np.nan)
df

,DirectorID,FirmID,Year,Year_Helper,Start_Year,End_Year,Delta_Year,overlapping_committees_or_positions,InsideToOutsideRole,OutsideToInsideRole,Committee_Group_Nominating,Committee_Group_Compensation,Committee_Group_Audit,Committee_Group_Finance,Committee_Group_Governance,Committee_Group_Risk,Committee_Member,Committee_Chairman,Committee_OtherMember
0,216931,289744950,NaN,2004_2007,2004.0,2007.0,4.0,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,216931,289744950,NaN,2004_2007,2004.0,2007.0,4.0,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,216931,289744950,NaN,2004_2007,2004.0,2007.0,4.0,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,216931,289744950,NaN,2004_2007,2004.0,2007.0,4.0,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,216931,12728885777,NaN,2004_2010,2004.0,2010.0,7.0,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
877079,207068612928,194713212062,NaN,2017_2030,2017.0,2020.0,4.0,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
877080,207068612928,194713212062,NaN,2017_2030,2017.0,2020.0,4.0,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
877081,207068712928,302174112476,NaN,2012_2014,2012.0,2014.0,3.0,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
877082,207068712928,302174112476,NaN,2012_2014,2012.0,2014.0,3.0,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
877083,207068712928,302174112476,NaN,2012_2014,2012.0,2014.0,3.0,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
#count up duplicate year rows
# https://stackoverflow.com/questions/59334873/i-want-to-count-the-occurrence-of-duplicate-values-in-a-column-in-a-dataframe-an
df['Year'] = df.groupby(['DirectorID','FirmID','Year_Helper'], sort=False).cumcount() + 1 - 1

#difference between start year and year variable
df['Year'] = df['Start_Year'] + df['Year'] 

#insert new column to count duplicate ['DirectorID','FirmID','Year'] values
df.insert(df.columns.get_loc("overlapping_committees_or_positions")+1, "duplicate_year_observations", np.nan)

df

,DirectorID,FirmID,Year,Year_Helper,Start_Year,End_Year,Delta_Year,overlapping_committees_or_positions,duplicate_year_observations,InsideToOutsideRole,OutsideToInsideRole,Committee_Group_Nominating,Committee_Group_Compensation,Committee_Group_Audit,Committee_Group_Finance,Committee_Group_Governance,Committee_Group_Risk,Committee_Member,Committee_Chairman,Committee_OtherMember
0,216931,289744950,2004.0,2004_2007,2004.0,2007.0,4.0,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,216931,289744950,2005.0,2004_2007,2004.0,2007.0,4.0,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,216931,289744950,2006.0,2004_2007,2004.0,2007.0,4.0,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,216931,289744950,2007.0,2004_2007,2004.0,2007.0,4.0,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,216931,12728885777,2004.0,2004_2010,2004.0,2010.0,7.0,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
877079,207068612928,194713212062,2019.0,2017_2030,2017.0,2020.0,4.0,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
877080,207068612928,194713212062,2020.0,2017_2030,2017.0,2020.0,4.0,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
877081,207068712928,302174112476,2012.0,2012_2014,2012.0,2014.0,3.0,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
877082,207068712928,302174112476,2013.0,2012_2014,2012.0,2014.0,3.0,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
877083,207068712928,302174112476,2014.0,2012_2014,2012.0,2014.0,3.0,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
#check "DirectorID", "FirmID", "Year" duplicate rows
df["duplicate_year_observations"] = df.duplicated(subset=["DirectorID", "FirmID", "Year"], keep=False)

#display duplicates
df[df["duplicate_year_observations"] == True]

,DirectorID,FirmID,Year,Year_Helper,Start_Year,End_Year,Delta_Year,overlapping_committees_or_positions,duplicate_year_observations,InsideToOutsideRole,OutsideToInsideRole,Committee_Group_Nominating,Committee_Group_Compensation,Committee_Group_Audit,Committee_Group_Finance,Committee_Group_Governance,Committee_Group_Risk,Committee_Member,Committee_Chairman,Committee_OtherMember
125,722610,7792367543,2010.0,2005_2010,2005.0,2010.0,6.0,False,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
126,722610,7792367543,2010.0,2010_2030,2010.0,2020.0,11.0,True,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
423,2224170,163784068,1993.0,1991_1994,1991.0,1994.0,4.0,True,True,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
424,2224170,163784068,1994.0,1991_1994,1991.0,1994.0,4.0,True,True,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
425,2224170,163784068,1993.0,1993_1996,1993.0,1996.0,4.0,True,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
876207,205867712851,9910288196,2016.0,2016_2030,2016.0,2020.0,5.0,True,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
876549,206478712893,13952787266,2013.0,2013_2013,2013.0,2013.0,1.0,False,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
876550,206478712893,13952787266,2013.0,2013_2014,2013.0,2014.0,2.0,True,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
876680,206676512907,24684517854,2016.0,2014_2016,2014.0,2016.0,3.0,False,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
876681,206676512907,24684517854,2016.0,2016_2017,2016.0,2017.0,2.0,True,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
#combine them
df_final = df.groupby(["DirectorID", "FirmID", "Year"]).max().reset_index() #semi error since string column (year_helper)

df_final["overlapping_committees_or_positions"] = df_final["overlapping_committees_or_positions"].astype(int)
df_final["duplicate_year_observations"] = df_final["duplicate_year_observations"].astype(int)
#combine both duplicate columns
df_final["overlapping_committees_or_positions"] = df_final[["overlapping_committees_or_positions", "duplicate_year_observations"]].max(axis=1)

#drop irrelevant columns
df_final.drop(columns=["duplicate_year_observations", "Delta_Year", "Start_Year", "End_Year"], inplace=True)

df_final

C:\Users\Hannes\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: Dropping invalid columns in DataFrameGroupBy.max is deprecated. In a future version, a TypeError will be raised. Before calling .max, select only columns which should be valid for the function.

,DirectorID,FirmID,Year,overlapping_committees_or_positions,InsideToOutsideRole,OutsideToInsideRole,Committee_Group_Nominating,Committee_Group_Compensation,Committee_Group_Audit,Committee_Group_Finance,Committee_Group_Governance,Committee_Group_Risk,Committee_Member,Committee_Chairman,Committee_OtherMember
0,216931,289744950,2004.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,216931,289744950,2005.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,216931,289744950,2006.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,216931,289744950,2007.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,216931,12728885777,2004.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
857179,207068612928,194713212062,2019.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
857180,207068612928,194713212062,2020.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
857181,207068712928,302174112476,2012.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
857182,207068712928,302174112476,2013.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
857183,207068712928,302174112476,2014.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
#add DIR_FIRM prefix to all columns starting after year column
df_final.columns = ["DIR_FIRM_" + col if col not in ["DirectorID", "FirmID", "Year"] else col for col in df_final.columns]
df_final

,DirectorID,FirmID,Year,DIR_FIRM_overlapping_committees_or_positions,DIR_FIRM_InsideToOutsideRole,DIR_FIRM_OutsideToInsideRole,DIR_FIRM_Committee_Group_Nominating,DIR_FIRM_Committee_Group_Compensation,DIR_FIRM_Committee_Group_Audit,DIR_FIRM_Committee_Group_Finance,DIR_FIRM_Committee_Group_Governance,DIR_FIRM_Committee_Group_Risk,DIR_FIRM_Committee_Member,DIR_FIRM_Committee_Chairman,DIR_FIRM_Committee_OtherMember
0,216931,289744950,2004.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,216931,289744950,2005.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,216931,289744950,2006.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,216931,289744950,2007.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,216931,12728885777,2004.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
857179,207068612928,194713212062,2019.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
857180,207068612928,194713212062,2020.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
857181,207068712928,302174112476,2012.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
857182,207068712928,302174112476,2013.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
857183,207068712928,302174112476,2014.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
#export
# df_final.to_csv(r"C:\Users\hannes\Desktop\member_output.csv", sep=";", decimal='.', index=False)

In [16]:
#check if any duplicate dir firm year entries exist
df_final["check"] = df_final.duplicated(subset=["DirectorID", "FirmID", "Year"], keep=False)

#display duplicates. should be empty
df_final[df_final["check"] == True]

Empty DataFrame
Columns: [DirectorID, FirmID, Year, DIR_FIRM_overlapping_committees_or_positions, DIR_FIRM_InsideToOutsideRole, DIR_FIRM_OutsideToInsideRole, DIR_FIRM_Committee_Group_Nominating, DIR_FIRM_Committee_Group_Compensation, DIR_FIRM_Committee_Group_Audit, DIR_FIRM_Committee_Group_Finance, DIR_FIRM_Committee_Group_Governance, DIR_FIRM_Committee_Group_Risk, DIR_FIRM_Committee_Member, DIR_FIRM_Committee_Chairman, DIR_FIRM_Committee_OtherMember, check]
Index: []

### merge

In [51]:
#merge left (use first df as baseline. add columns from second df to baselind)
df_merge = df_latest.merge(df_final, how="left", on=["DirectorID", "FirmID", "Year"])
df_merge

In [52]:
df_merge

,DirectorID,FirmID,ISIN,ISIN_alternative,Year,PF_gain_loss_replace,PF_gain_dummy,PF_loss_dummy,PF_replace_dummy,PF_change_dummy,...,DIR_FIRM_OutsideToInsideRole,DIR_FIRM_Committee_Group_Nominating,DIR_FIRM_Committee_Group_Compensation,DIR_FIRM_Committee_Group_Audit,DIR_FIRM_Committee_Group_Finance,DIR_FIRM_Committee_Group_Governance,DIR_FIRM_Committee_Group_Risk,DIR_FIRM_Committee_Member,DIR_FIRM_Committee_Chairman,DIR_FIRM_Committee_OtherMember
0,3.791089e+09,6.613356e+09,US1724061007,US1724062096,1999,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3.791089e+09,6.613356e+09,US1724061007,US1724062096,2000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3.791089e+09,6.613356e+09,US1724061007,US1724062096,2001,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3.791089e+09,6.613356e+09,US1724061007,US1724062096,2002,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,3.791089e+09,6.613356e+09,US1724061007,US1724062096,2003,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
929224,4.782098e+09,2.286340e+10,IE00BJ0X7W22,IE00BJ0X7W22,2015,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
929225,4.782098e+09,2.286340e+10,IE00BJ0X7W22,IE00BJ0X7W22,2016,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
929226,4.782098e+09,2.286340e+10,IE00BJ0X7W22,IE00BJ0X7W22,2017,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
929227,4.782098e+09,2.286340e+10,IE00BJ0X7W22,IE00BJ0X7W22,2018,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
929228,4.782098e+09,2.286340e+10,IE00BJ0X7W22,IE00BJ0X7W22,2019,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [71]:
for df in [df_latest, df_final]:
    # df.insert(df.columns.get_loc("FirmID")+1, "duplicate_helper", np.nan)
    df["duplicate_helper"] = df["DirectorID"].astype("Int64").astype(str) + df["FirmID"].astype("Int64").astype(str) + df["Year"].astype("Int64").astype(str)

# df_latest.iloc[0, 2]

df_distinct = df_latest[~df_latest["duplicate_helper"].isin(df_final["duplicate_helper"])]

In [72]:
df_distinct.to_csv(r"C:\Users\hannes\Desktop\1228director-firm-years_distinct.csv", sep=";", decimal='.', index=False)